<h3>Access Requests</h3>
<form action="/EditUser" method="POST">
    <label for="Department">Department: </label>
    
    <select name="department"  style="width: 30%;">
        <option value="">All</option>
        <option value="Real -Time Strategy">Real -Time Strategy</option>
        <option value="Technology">Technology</option>
        <option value="Board Game">Board Game</option>
        <option value="Card Game">Card Game</option>
        <option value="Arcade Game">Arcade Game</option>
    </select> 
     <button type="submit"   id="Edit" style="visibility: {{showEditButton}}">Search</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Request Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Request Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.department}}</td>
            <td>{{this.requestStatus}}</td>
            <td>
                <td>
                <a href=""><i class="fa fa-pencil fa-lg" aria-hidden="true">Approve</i></a>
                /
                <a href=""><i class="fa fa-eye fa-lg" aria-hidden="true">Decline</i></a>
            </td>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
